<div class="banner-area">
  <h1>Quests</h1>
  <div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: quests_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Search for a quest..."
      %>
      <%= submit_tag "Search", name: "", class: "btn-purple" %><%= link_to "Create a new quest!", new_quest_path, class: "btn-purple-search" %>
    <% end %>
    </div>
  </div>
  </div>
</div>

<div class="sort">
  Sort by:
  <%= link_to 'None', quests_path %>
  <%= link_to 'Reward (Ascending)', quests_path(sort: 'asc') %>
  <%= link_to 'Reward (Descending)', quests_path(sort: 'desc') %>
</div>

<div class="index-container">
  <div class="card-row">
    <% @quests.each do |quest| %>
      <div class="card-container">
        <div class="card">
          <img src="<%= asset_path('card-placeholder.png') %>" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-title"><%= quest.name %></p>
            <p class="card-text"><%= truncate(quest.description, length: 120) %></p>
            <p class="card-text"><strong>Class requirement:</strong> <%= quest.requirement %></p>
            <p class="card-text"><strong>Reward:</strong> <%= quest.reward %> coins <%= display_coins(quest.reward) %></p>
            <%= link_to 'View Quest', quest_path(quest), class: "btn-purple btn-bottom-right" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
