<div class="banner-area">
  <h1>Quest Board</h1>
  <p class='banner-text'>Heroes brave, the call has come, golden coins for deeds well done!</p>
  <div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: quests_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control search-bar",
        placeholder: "Search for a quest..."
      %>
      <% if user_signed_in? && current_user.role == "dm" %>
        <%= link_to "Post a quest!", new_quest_path, class: "btn-purple-search" %>
      <% end %>
    <% end %>
    </div>
  </div>
  </div>
</div>

<div class="sort">
    <%= image_tag 'coin.png', alt: 'Coin', cwidth: '30px', height: '30px' %> Show me rewards:
    <%= select_tag :sort, options_for_select([
        ['Modest to Magnificent', 'asc'],
        ['Magnificent to Modest', 'desc'],
        ['Unsorted', '']
      ], selected: params[:sort]), onchange: 'window.location.href = "?sort=" + this.value;' %>
  </div>

<div class="index-container">
  <div class="card-row">
    <% @quests.each do |quest| %>
      <div class="card-container">
        <div class="card colour-card">
          <% if quest.photo.key %>
            <%= cl_image_tag quest.photo.key, class:"card-img-top", height: 400, width: 300 %>
          <% else %>
            <%= image_tag 'card-placeholder.png', class:"card-img-top", height: 400, width: 300  %>
          <% end %>
          <div class="card-body">
            <p class="card-title"><%= quest.name %></p>
            <p class="card-text"><%= truncate(quest.description, length: 120) %></p>
            <p class="card-text"><strong>Class requirement:</strong> <%= quest.requirement %></p>
            <p class="card-text"><strong>Reward:</strong> <%= quest.reward %> coins <%= display_coins(quest.reward) %></p>
            <%= link_to 'View Quest', quest_path(quest), class: "btn-purple btn-bottom-right" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
