

<h1>Quests</h1>
<div class="container" >
    <% @quests.each do |quest| %>
      <h3><%= quest.name %></h3>
      <p><%= quest.description %></p>
      <p><strong>Requirement: </strong><%= quest.requirement %></p>
      <p><strong>Location: </strong><%= quest.location %></p>
      <p><strong>Reward: </strong><%= quest.reward %></p>
      <p><strong>User: </strong><%= quest.user.username %></p>
    <% end %>
  </div>
  <br>