<h1>My Booking Requests</h1>

<% @bookings.each do |booking| %>
  <h2><%= link_to booking.quest.name, quest_path(booking.quest) %></h2>
  <p>Adventurer: <%= booking.user.username %></p>
  <p>Message: <%= booking.message %></p>
  <p>Status: <%= booking.status %></p>
  
  <% if booking.status == 'pending' %>
    <%= button_to 'Accept', accept_booking_path(booking), method: :post, class: 'btn btn-success' %>
    <%= button_to 'Decline', decline_booking_path(booking), method: :post, class: 'btn btn-danger' %>
  <% elsif booking.status == 'accepted' %>
    <%= button_to 'Mark as Completed', complete_booking_path(booking), method: :post, class: 'btn btn-primary' %>
  <% end %>
  <%= button_to 'Delete', delete_booking_path(booking), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<% end %>
