<div class="profile-container">
    <div class="profile-card">
        <h1 class="username">
            <%= @user.username.capitalize %>'s Profile
        </h1>

        <div class="profile">
            <p><%= @user.profile %></p>
        </div>

        <div class="level">
            <p><strong>Level:</strong> <%= @user.level %></p>
        </div>

        <div class="character_class">
            <p><strong>Class:</strong> <%= @user.character_class %></p>
        </div>

        <div class="abilities">
            <ul>
                <div><strong>Abilities:</strong></div>
                <% @user.abilities.split(',').map(&:strip).each do |ability| %>
                    <div><%= ability %></div>
                <% end %>
            </ul>
        </div>

        <div class="stats">
            <p><strong>Stats:</strong></p>
                <% @user.stats.each do |attribute, value| %>
                    <div><strong><%= attribute.capitalize%>:</strong> <%= value %></div>
                <% end %>
        </div>
    </div>
</div>
